

@{
    ViewData["Title"] = "Categorias";
}

<h2>Categorias</h2>

<p>
    <a data-toggle='modal' data-target='#modalAC' class='btn btn-info'>Crear categoria</a>
</p>
<div class="form-group">
    <div class="col-md-6">
        <input id="filtrar" name="filtrar" placeholder="Buscar" onKeyUp="filtrarDatos(1,'nombre');" class="form-control" />
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                <a href="#" onclick='filtrarDatos(1,"nombre")'>Nombre</a>
            </th>
            <th>
                <a href="#" onclick='filtrarDatos(1,"des")'>Descripcion</a>
            </th>
            <th>
                <a href="#" onclick='filtrarDatos(1,"estado")'>Estado</a>
            </th>
            <th>
                Opciones
            </th>
        </tr>
    </thead>
    <tbody id="resultSearch"></tbody>
</table>
<div id="paginado">

</div>

<div class="modal fade" id="modalAC" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Agregar categoria</h4>
            </div>
            <div class="modal-body">
                <form asp-action="">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="Nombre" class="col-md-2 control-label">Nombre</label>
                            <div class="col-md-10">
                                <input for="Nombre" id="Nombre" placeholder="Nombre" name="Nombre" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Descripcion" class="col-md-2 control-label">Descripcion</label>
                            <div class="col-md-10">
                                <input for="Descripcion" id="Descripcion" placeholder="Descripcion" name="Descripcion" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Estado" class="col-md-2 control-label">Estado</label>
                            <div class="col-md-10">
                                <select id='Estado' class="form-control">
                                    <option value='0'>Seleccione un estado</option>
                                    <option value='true'>Activo</option>
                                    <option value='false'>No activo</option>
                                </select>
                            </div>
                        </div>
                        <label id="mensaje" class="col-md-2 control-label"></label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" onclick="agregarCategoria()" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ModaEstado" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="titleCategoria" class="modal-title"></h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" onclick="editarCategoria()" class="btn btn-primary">Aceptar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
